
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');



html,body,header{
    background: #20364b;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
}
header{
    background: #20364b;
}
.color-common{
    color: #fdc11f;
}
.navbar-brand>a>img{
    max-width: 150px;
}
.nav-item{
    margin-right: 30px;
}
.navbar-nav>li>a{
    position: relative;
    color: #ffffff;
    display: inline-block;
}
.navbar-nav>li>a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 10%;
    background: #fdc11f;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.navbar-nav>li:hover>a::after{
    transform: scaleX(1);
}
.navbar-nav>li:hover>a{
    color: #ffffff;
    font-weight: bold;
    transition: .3s;
}

.subs-side>h1{
    color: #ffffff;
    font-size: 3.8rem;
    font-weight: bold;
}
.subs-side>input{
    width: 350px;
    padding: 10px;
    padding-left: 30px;
}
.subs-side>button{
    padding: 5px 20px;
    color: #20364b;
}
.bloobs-image>img{
    max-width: 550px;
}